.michi-form-skeleton {
  pointer-events: none;
}

.michi-form-skeleton__field {
  height: 2.8rem;
  width: 100%;
  border-radius: 12px;
}

.michi-form-skeleton__field--tall {
  height: 7rem;
}

.michi-form-skeleton__button {
  height: 2.8rem;
  width: 100%;
  border-radius: 50px;
}
