.michi-card {
  background: var(--color-white);
  border-radius: 16px;
  overflow: hidden;

  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}
.michi-card:hover {
  transform: translateY(-4px);
}

.michi-card__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.michi-card__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.michi-card__content h3 {
  color: var(--color-secondary);
  font-weight: 800;
}

.michi-card__description {
  color: var(--color-text-muted);
  margin-bottom: 1rem;
}

.michi-card__actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

/* Estilos botón comunes */

.michi-card__actions button {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 10px;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-primary);
}

.michi-card__actions button:hover {
  background-color: var(--color-primary-dark);
}

/* Estilos botón del usuario admin */

.michi-card__btn-ver,
.michi-card__btn-editar,
.michi-card__btn-eliminar {
  font-size: 1.8rem;
}


.michi-card__btn-eliminar {
  background-color: var(--color-danger) !important;
}

.michi-card__btn-eliminar:hover {
  background-color: var(--color-danger-dark) !important;
}


/* Estilos botón del usuario adoptante */
.michi-card__btn-adoptar {
  font-weight: 700;
  transition: background-color 0.2s ease;
}
