.solicitud-adopcion-skeleton {
  pointer-events: none;
}

.solicitud-adopcion-skeleton__image {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.solicitud-adopcion-skeleton__title {
  height: 2rem;
  width: 50%;
  margin-bottom: 1rem;
}

.solicitud-adopcion-skeleton__field {
  height: 2.8rem;
  width: 100%;
  border-radius: 10px;
}

.solicitud-adopcion-skeleton__field--tall {
  height: 7rem;
}

.solicitud-adopcion-skeleton__button {
  height: 2.8rem;
  width: 100%;
  border-radius: 50px;
}
