@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

/* ===== RESET BÁSICO ===== */
*,
*::before,
*::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
font-family: "Nunito", sans-serif;
}

/* Media responsive */
img,
picture,
video,
canvas,
svg {
display: block;
max-width: 100%;
}

/* Formularios consistentes */
input,
button,
textarea,
select {
font: inherit;
}

/* Links */
a {
text-decoration: none;
color: inherit;
}

/* ===== LAYOUT BASE ===== */
html,
body,
#root {
height: 100%;
}

.app {
display: flex;
flex-direction: column;
min-height: 100%;
}

main {
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
}

header,
footer {
display: flex;
justify-content: center;
background-color: gray;
}
