.header {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.header h2{
    font-weight: 900;
}

.header__user{
    display: flex;
    gap:0.5rem;
}

.header__user img{
    border-radius: 50%;
}